.header{
  display: grid;
  grid-template-areas: 
  "logo login";
  grid-template-columns: 2fr 2fr;
  position: relative;
  background-color: white;
  flex: 0 0 auto;
}

.logotype{
  grid-area: logo;
  padding-left: 35%;

}
.logo{
  width: 120px;
  height: 60px;
}

.login{
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
  grid-area: login;
  padding-top: 18px ;
}

.Link{
  color: black;

}
.Link:hover{
  color: white;
}