*{
  transition: all 0.5s;
}
html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.App{
  width: 100%;
  background: WHITE;;
  height: 100%;
}
.content{
  flex: 1 0 auto;

}
.Header{

}
.Nav{

}
.Footer{

}



/*


*/